
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container üstboşluk">

    <div class="row">
        <div class="col-md-12 haberSayfasıBaslık">
            BİTLİS'İN TARİHİ TAŞ EVLERİNE ZİYARETÇİ AKINI OLUŞTU
            <hr style="height: 3px; color: black;">
        </div>
    </div>

    <div class="row üstboşluk">
        <div class="col-md-12 yazılar">
            Bitlis'in Hizan ilçesine bağlı Gayda köyünün yıllara meydan okuyan taş evleri, sonbahar birlikte ziyaretçilerini ağırlıyor.
            Çoğu, derin vadiler arasındaki yamaçlara kurulu çok katlı tarihi taş evlerden oluşan köyler, sonbaharda fotoğraf sanatçıları,
            gezginler ve turistlerden büyük ilgi görüyor.
            <br>
            Hizan'a bağlı Gayda köyündeki taş evlerden oluşan köyler, doğa tutkunları ve fotoğrafçılar tarafından büyük ilgi görüyor.
            <br>
            Türkiye'nin çeşitli illerinden gelen gruplar köylerdeki taş evlerin sonbahar renkleriyle bütünleştirdiği
            eşsiz manzaraları görmek için bölgeye geliyor.
        </div>
    </div>

    <div class="row üstboşluk">
        <div class="col-md-6">
            <img src=@Url.Content("~/Content/Site/resimler/haberler/haber_bitlis1.png") alt="" style="width: 100%; border: 2px solid black;">
        </div>

        <div class="col-md-6">
            <img src=@Url.Content("~/Content/Site/resimler/haberler/haber_bitlis2.png") alt="" style="width: 100%; border: 2px solid black;">
        </div>
    </div>

    <div class="row üstboşluk">
        <div class="col-md-12 yazılar">
            Van'da faaliyet gösteren Vadi Doğa Sporları Kulübü de yoğun talepten dolayı bu yıl ikinci kez bölgeye tur düzenledi.
            Kulüp Başkanı Ömer Demez, özellikle sonbahar ve kış aylarında bölgeye yoğun talebin olduğunu söyledi.
            <br>
            Ömer Demez, "Sonbaharın gelmesiyle birlikte Gayda köyü hem tarihi taş evleri hem de sonbahar
            renk cümbüşüyle birleşmesiyle muazzam bir görsel şölen ortaya çıkıyor. Gelen ziyaretçiler bölgenin tarihi taş evlerine ve
            sonbahar manzarasına hayran kalıyor. Bu yıl çok yoğun talep üzerine ikinci kez tur düzenledik.
            İnşallah kış aylarında da birkaç kez tur düzenleyeceğiz" diye konuştu.
        </div>
    </div>

    <div class="row üstboşluk altboşluk">
        <div class="col-md-6">
            <img src=@Url.Content("~/Content/Site/resimler/haberler/haber_bitlis3.png") alt="" style="width: 100%; border: 2px solid black;">
        </div>

        <div class="col-md-6">
            <img src=@Url.Content("~/Content/Site/resimler/haberler/haber_bitlis4.png") alt="" style="width: 100%; border: 2px solid black;">
        </div>
    </div>


</div>
