
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row üstboşluk efsanebaşlık">
        <h1><strong> MARDİN İLE İLGİLİ EFSANELER </strong></h1>
        <hr style="height: 3px; color: black;">
    </div>

    <div class="row üstboşluk">

        <div class="col-md-8">
            <h3><b>PİR ABOK EFSANESİ</b></h3>
            <br>
            <div class="yazılar">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                İğneden başka hiçbir şeyden korkmazmış.
                Rivayete göre, adamın biri Pir Abok’un bulunabileceği yerlerde günlerce beklemiş.
                Pir Abok’u gördüğü an çaktırmadan elindeki iğneyi ona saplamış. Çirkin yaratık hemen oracıkta on beş yaşında bir kız oluvermiş.
                Adam da onunla evlenmiş. Bir süre sonra Pir Abok bir kız çocuğu doğurmuş. Derken, çocuk annesine yardım edecek yaşa gelmiş.
                Bir gün annesinin yıkanmasına yardım ederken vücudundaki iğneye gözü takılmış ve annesine:
                “Karnında bir iğne görüyorum; bundan rahatsız olmuyor musun, bu zamana kadar aldırmayı düşünmedin mi?” diye sormuş.
                Annesi iğneden korktuğunu belli etmemek için sözü başka konulara çevirmiş. Bir gün Pir Abok yıkanmak için kadınlar hamamına gitmiş.
                Bir kadın Pir Abok’un karnındaki iğneyi görmüş ve “Karnındaki iğneyi niçin aldırmıyorsun, sağlığın için tehlikeli değil mi?” demiş.
                Pir Abok iğneyi kendisinin çıkaramayacağını söyleyince, kadın iğneyi almaya çalışmış. İğne çıkınca Pir Abok hemen kaybolmuş.
                Bu duruma şaşan kadın hamamdakilere durumu anlatmış. Kadınlar buna bir anlam verememiş. Bu olay dilden dile yayılmış.
                Sonunda Pir Abok’un kocası da olayı duymuş. Adam, olup bitenleri meraklılara anlatmış. Pir Abok’un kızı ise annesiz kalmanın üzüntüsü içindeymiş.
                Pir Abok kimselere görünmeden kızını görmeye geliyor, yemeğine gıdalı şeyler katıp gidiyormuş. Bu durum kızın ölümüne kadar devam etmiş.
                Pir Abok hakkındaki yaygın olan diğer bir rivayetse,
                Pir Abok’un her kılığa girebilen bir yaratık olduğu ve rastladığı kişinin en yakınının suretine bürünebilmesiymiş.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Efsanelere konu olan bu tarz karakterler, gündelik dilde deyimlere de konu olmuştur.
                Örneğin saçı uzun ve dağınık olanlara “Pir Abok” denmesi ya da küçük çocukları korkutmak için “Pir Abok geliyor!” tehdidinin savrulması gibi.
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <br><br><br><br>
            <img src=@Url.Content("~/Content/Site/resimler/efsaneler/pirabok.png") alt="" style="width: 100%; border: 2px solid black;">
        </div>
    </div>

    <div class="row çoküstboşluk altboşluk">

        <div class="col-md-8">
            <h3><strong> ZİNCİRİYE MEDRESESİ EFSANESİ : ZİNCİRİN BÜYÜSÜ </strong></h3>
            <br>
            <div class="yazılar">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Mardin yöresi kuru bir bölge olduğu için zehirli olan çok sayıda yılan ve akrep bulunmaktadır.
                Bu yılanlar ve akrepler ölen birçok insanı ısırdı, özellikle de çoğu insan sıcak yaz gecelerinde çatılarda uyurken.
                Bu belaya bir son vermek için insanlar bilge dindar insanlardan tavsiye istemeye karar verdiler. Akrepler ve yılanlar için dualar yazmalarını,
                başkasını ısırmamalarını ve bu yazılı duaları iki caminin minarelerinin tepesine astıkları bir zincire bağlamalarını tavsiye etti.
                Minarelerden biri çökünce onu Zinciriye Medresesi'nin tepesine bağlayıp Sultan İsa'nın türbesine dua ettiler.
                Ama maalesef zincir İkinci Dünya Savaşı sırasında çalındı. Ancak yazılı dualar Sultan İsa'nın mezarına konduğu için şehrin hala
                akreplerden korunduğuna inanılıyor. O zamandan beri yılan ve akrep sokmasıyla ilgili bir rapor
                gelmedi ve insanlar yerel hastane kayıtlarının bunu doğrulayabileceğini söylüyor.
            </div>
        </div>

        <div class="col-md-4">
            <br><br>
            <img src=@Url.Content("~/Content/Site/resimler/efsaneler/zinciriye_medresesi.jpg") alt="" style="width: 95%; border: 2px solid black;">
        </div>

    </div>

</div>
